<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ST - {{title}}</title>
</head>
<body>
    <div id="nav-container">
        <nav id="nav-bar">
            <a href="/">Home</a>
            <a href="/pay">Pay</a>
            <a href="/transactions">View Transactions</a>
        </nav>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>