{% extends "base.html" %}

{% block content %}

<h3>Users: </h3>
    <content id="users-list">
        {% for user in users %}
            <div>{{user.get_full_name_string()}}</div>
            <div>{{user.email}}</div>
            <div>Budget = £{{"%.2f"|format(user.wallet)}}</div>
            <a class="delete-button" href="/users/{{user.id}}/delete"> Delete </a>&nbsp;
            <a class="edit-button" href="/users/{{user.id}}/edit"> Edit </a>
            <hr>
        {% endfor %}
    </content>
<a class="nav-links" href="/users/new"> Add New User </a>


{% endblock %}