{% extends "base.html" %}

{% block content %}
<h3>Input New Transaction: </h3>
<form id="new-transaction-form" action="/transactions" method="POST">
    <div class="new-inputs">
        <select name="user_id" id="user" required>
            <option value=""> Select User </option>
            {% for user in users %}
            <option value="{{ user.id }}">
                {{user.get_full_name_string()}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="new-inputs">
        <input type="date" 
               name="date"
               id="date" 
               placeholder="dd/mm/yy" 
               required>
    </div>
    <div class="new-inputs">
        <input type="time" 
               id="time" 
               name="time"
               placeholder="hh:mm" 
               required>
    </div>
    <div class="new-inputs">
        <select name="merchant_id" id="merchant" required>
            <option value=""> Select Merchant </option>
            {% for merchant in merchants %}
            <option value="{{ merchant.id }}">
                {{merchant.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="new-inputs">
        <label for="amount">Amount: </label>
        <input type="number" 
               id="amount"
               name="amount"
               step=0.01 min=0 
               required>
    </div>
    <div class="new-inputs">
        <select name="tag_id" id="tag" required>
            <option value=""> Select Tag </option>
            {% for tag in tags %}
            <option value="{{ tag.id }}">
                {{tag.tag_type}}
            </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit"> Add Transaction </button>
</form>

{% endblock %}